# datasets/mnist_digit_colour
.vscode
.mypy_cache
*.npy
*.out
3DBoxIdent_part1
3DBoxIdent_part2
checkpoints
src/exp_rcd
src/image
src/paper_pdf
src/toy_dataset/toy
src/toy_dataset/toy1_
src/toy_dataset/toy2_
src/toy_dataset/toy3_
src/toy_dataset/toy4_
src/toy_dataset/toy5_
src/pgm/box22
src/pgm/box22 
src/pgm/box22 
src/pgm/box22 
src/pgm/box22 
src/pgm/box11
src/pgm/box_image
src/pgm/box
src/pgm/mnist
src/pgm/morph
src/pgm/morph2
src/pgm/morphomnist
src/pgm_backup20230920/morph2
src/pgm_backup20230920/morphomnist
src/pgm_backup20230920/ukbb
src/pgm_backup20230920/box
src/pgm_backup20230920/box_image
src/pgm_backup20230920/mnist
src/pgm_backup20230920/morph
src2/exp_rcd
src2/image
src2/paper_pdf
src2/toy_dataset/toy
src2/toy_dataset/toy1_
src2/toy_dataset/toy2_
src2/toy_dataset/toy3_
src2/toy_dataset/toy4_
src2/toy_dataset/toy5_
src2/pgm/box22
src2/pgm/box22 
src2/pgm/box22 
src2/pgm/box22 
src2/pgm/box22 
src2/pgm/box11
src2/pgm/box_image
src2/pgm/box
src2/pgm/mnist
src2/pgm/morph
src2/pgm/morph2
src2/pgm/morphomnist
src2/pgm_backup20230920/morph2
src2/pgm_backup20230920/morphomnist
src2/pgm_backup20230920/ukbb
src2/pgm_backup20230920/box
src2/pgm_backup20230920/box_image
src2/pgm_backup20230920/mnist
src2/pgm_backup20230920/morph
src3/exp_rcd
src3/image
src3/paper_pdf
src3/toy_dataset/toy
src3/toy_dataset/toy1_
src3/toy_dataset/toy2_
src3/toy_dataset/toy3_
src3/toy_dataset/toy4_
src3/toy_dataset/toy5_
src3/pgm/box22
src3/pgm/box22 
src3/pgm/box22 
src3/pgm/box22 
src3/pgm/box22 
src3/pgm/box11
src3/pgm/box_image
src3/pgm/box
src3/pgm/mnist
src3/pgm/morph
src3/pgm/morph2
src3/pgm/morphomnist
src3/pgm_backup20230920/morph2
src3/pgm_backup20230920/morphomnist
src3/pgm_backup20230920/ukbb
src3/pgm_backup20230920/box
src3/pgm_backup20230920/box_image
src3/pgm_backup20230920/mnist
src3/pgm_backup20230920/morph
